body{
    background-color: rgb(192, 95, 171);
}
.yo{
    padding: 130px;
    margin: 30px;
    background-color: rgb(255, 200, 230);
}
.flex{
    display: flex;
}

.purple{
    padding-bottom: 670px;
     background-color: rgb(255, 200, 230);
}
.pink{
     padding-bottom: 350px;
    margin-top: 40px;
    background-color: rgb(255, 200, 230);

}