body{
    background-color: rgb(192, 95, 171);
}
.yo{
    padding: 130;
    margin: 30;
     background-color: rgb(192, 95, 171);
}
.flex{
    display: flex;
}

.purple{
    padding-bottom: 670px;
    background-color: rgb(225, 175, 235);
}
.pink{
    padding-bottom: 350;
    margin-top: 40;
    background-color: rgb(192, 95, 171);
}


