.blue{
    background-color: rgb(96, 96, 253);
    padding: 50px;
    margin: 0px;
}

.blue{
    background-color: rgb(253, 229, 96);
    padding: 200px;
    padding-bottom: 100px;
    margin: 50px;
}

.flex{
    display: flex;
    
}

.baixo{
    padding-bottom:50 ;
}

.extender{
    padding-right: 50px;
}


